#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

pre {
  font-size: 16px;
  line-height: 1.2;
  margin-top: 50px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

[data-part="container"] {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

[data-part="input-group"] {
  display: flex;
  gap: 1rem;
}

[data-part="input"] {
  width: 4rem;
  height: 6rem;
  text-align: center;
  font-size: 2rem;
}
